.group
  =f.label :job_id
  =f.error_message_on :job_id
  =f.text_field :job_id, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :description
  =f.error_message_on :description
  ~f.text_area :description, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :meta_keywords
  =f.error_message_on :meta_keywords
  ~f.text_area :meta_keywords, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :body
  =f.error_message_on :body
  ~f.text_area :body, :class => :text_area
  %span.description Ex: a simple text

.group
  =f.label :started_at
  =f.error_message_on :started_at
  =f.text_field :started_at, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :finished_at
  =f.error_message_on :finished_at
  =f.text_field :finished_at, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :link_level
  =f.error_message_on :link_level
  =f.text_field :link_level, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:scrapes, :index)}';return false", :class => :button
