.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:scrapes, :index)
      %li=link_to pat(:new), url(:scrapes, :new)
      %li.active=link_to pat(:edit), url(:scrapes, :edit, :id => @scrape.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:scrape)
    .inner
      -form_for :scrape, url(:scrapes, :update, :id => @scrape.id), :method => :put, :class => :form do |f|
        =partial "scrapes/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
