.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:scrapes, :index)
      %li=link_to pat(:new), url(:scrapes, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:scrapes)
    .inner
      %table.table
        %tr
          %th.first=mat(:scrape, :id)
          %th=mat(:scrape, :job_id)
          %th=mat(:scrape, :url)
          %th=mat(:scrape, :title)
          %th=mat(:scrape, :description)
          %th=mat(:scrape, :meta_keywords)
          %th=mat(:scrape, :started_at)
          %th=mat(:scrape, :finished_at)
          %th=mat(:scrape, :link_level)
          %th.last="&nbsp;"
        -@scrapes.each do |scrape|
          %tr
            %td.first=scrape.id
            %td=scrape.job_id
            %td=scrape.url
            %td=scrape.title
            %td=scrape.description
            %td=scrape.meta_keywords
            %td=scrape.started_at
            %td=scrape.finished_at
            %td=scrape.link_level
            %td.last
              =button_to pat(:edit), url(:scrapes, :edit, :id => scrape.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:scrapes, :destroy, :id => scrape.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
