.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:scrapes, :index)
      %li.active=link_to pat(:new), url(:scrapes, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:scrape)
    .inner
      -form_for :scrape, url(:scrapes, :create), :class => :form do |f|
        =partial "scrapes/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
