.group
  =f.label :url
  =f.error_message_on :url
  =f.text_field :url, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :link_level
  =f.error_message_on :link_level
  =f.text_field :link_level, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :priority
  =f.error_message_on :priority
  =f.text_field :priority, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:jobs, :index)}';return false", :class => :button
