.group
  =f.label :domain
  =f.error_message_on :domain
  =f.text_field :domain, :class => :text_field
  %span.description Ex: a simple text

.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:domain_policies, :index)}';return false", :class => :button
