.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:domain_policies, :index)
      %li=link_to pat(:new), url(:domain_policies, :new)
      %li.active=link_to pat(:edit), url(:domain_policies, :edit, :id => @domain_policy.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:domain_policy)
    .inner
      -form_for :domain_policy, url(:domain_policies, :update, :id => @domain_policy.id), :method => :put, :class => :form do |f|
        =partial "domain_policies/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
