.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:domain_policies, :index)
      %li=link_to pat(:new), url(:domain_policies, :new)
  .content
    %h2.title
      =pat(:all)
      =mt(:domain_policies)
    .inner
      %table.table
        %tr
          %th.first=mat(:domain_policy, :id)
          %th=mat(:domain_policy, :domain)
          %th=mat(:domain_policy, :expires)
          %th.last="&nbsp;"
        -@domain_policies.each do |domain_policy|
          %tr
            %td.first=domain_policy.id
            %td=domain_policy.domain
            %td=domain_policy.expires
            %td.last
              =button_to pat(:edit), url(:domain_policies, :edit, :id => domain_policy.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:domain_policies, :destroy, :id => domain_policy.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')"
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
