.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:domain_policies, :index)
      %li.active=link_to pat(:new), url(:domain_policies, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:domain_policy)
    .inner
      -form_for :domain_policy, url(:domain_policies, :create), :class => :form do |f|
        =partial "domain_policies/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
